---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Niieux',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Install now',
        href: 'https://iso.niieux.com',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'GitHub', href: 'https://github.com/Niieux', target: '_blank' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Niieux Desktop Screenshot' }}
  >
  <Fragment slot="title">
    Niieux.&nbsp;Linux,<wbr> Reimagined
  </Fragment>
  
    <Fragment slot="subtitle">
      <span class="font-semibold">Niieux</span> is a Debian 13-based Linux distro designed for beginners and developers, featuring a modified, faster and more customizable GNOME desktop, no bloatware, and Flatpak support.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->
  <Features
    id="features"
    tagline="Features"
    title="What you get with Niieux"
    items={[
      {
        title: 'Limitless Customizations',
        description:
          'Niieux comes with a Theme Switcher app which lets you effortlessly customize your desktop experience, it allows you to pick between new looks to make your system feel more home.',
        icon: 'tabler:palette',
      },
      {
        title: 'Easy to use',
        description:
          'Easy to use for everyone with an optimized GNOME Desktop which allows everyone to work easily with the click of a button.',
        icon: 'tabler:components',
      },
      {
        title: 'Lightning Fast',
        description:
          'Niieux is tailored for the best performance possible while not compromising the look and feel of the operating system.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Open Source',
        description:
          'Niieux is completely open-source under the GPL 3.0 license to allow you to explore, modify and contribute.',
        icon: 'tabler:bulb',
      },
    ]}
  />
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    tagline="Customizing Niieux"
    title="Niieux Theme Switcher: Limitless Customizations"
    items={[
      {
        title: 'Apply themes with the click of a button',
        description:
          'Launch the Theme Switcher app from your app menu and click the theme you want to apply.',
      },
      {
        title: 'Preinstalled themes',
        description:
          'Niieux comes with two themes preinstalled: MacOS Inspired and Ubuntu Inspired. These are examples for you to make your own theme with the Theme Maker.',
      },
      {
        title: 'Create your own theme',
        description:
          'You can even create your own theme through the Theme Maker application and download it. You will download it as a JSON file which you can right click > open with > Niieux Theme Installer[...]',
      },
    ]}
    image={{
      src: '~/assets/images/theme-switcher-screenshot.png',
      alt: 'Niieux Theme Switcher Screenshot',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    tagline="Installing applications on Niieux"
    title="Niieux App Center: The place to install applications on Niieux"
    items={[
      {
        title: 'Optimized for fast installs',
        description:
          'Niieux App Center is optimized for the fastest installs possible with low RAM usage.',
      },
      {
        title: 'Flatpak, Flathub and APT integration',
        description:
          'Niieux App Center has got inbuilt support for Flatpak, Flathub and APT applications.',
      },
      {
        title: 'Automation made easy',
        description:
          'Niieux App Center allows you to automate app updates and process runs.',
      },
    ]}
    image={{
      src: '~/assets/images/niieux-app-center-icon.png',
      alt: 'Niieux App Center screenshot',
    }}
  >
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    tagline="Be more productive"
    title="Productivity Redefined with Niieux"
    items={[
      {
        title: 'Seamless Ecosystem',
        description:
          'Niieux applications such as the Theme Switcher and App Center integrate seamlessly with the desktop allowing you to search for applications directly in the GNOME App Menu and apply themes directly from settings.',
      },
      {
        title: 'Multitasking just got better',
        description:
          'Niieux has modified the Nautilus file manager to have features such as split view for better productivity and many other features have been added.',
      },
      {
        title: 'No crashes or windows freezing',
        description:
          'Niieux is built to be extremely stable and not freeze or crash. ',
      },
    ]}
    image={{
      src: '~/assets/images/niieux-productivity.png',
      alt: 'Niieux Productivity screenshot',
    }}
  >
  </Content>

  <!-- FAQs Widget ******************* -->
  <FAQs
    title="Frequently Asked Questions"
    subtitle=" "
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Niieux?',
        description:
          "Niieux is customizable yet powerful and fast compared to other GNU/Linux distributions (see https://niieux.com/compare).",
      },
      {
        title: 'How do I install ?',
        description:
          'We offer an easy installation guide at <a href="https://github.com/Niieux/docs/blob/main/install-guide.md" target="_blank" rel="noopener noreferrer">https://github.com/Niieux/docs/blob/main/install-guide.md</a>.',
      },
      {
        title: 'What do I do if I need help using Niieux?',
        description:
          'Feel free to contact <a href="mailto:support@niieux.com" target="_blank" rel="noopener noreferrer">support@niieux.com</a> for support or open an issue on our <a href="https://github.com/Niieux" target="_blank" rel="noopener noreferrer">GitHub</a>.',
      },
      {
        title: "I need help making a Theme on the Theme Maker?",
        description:
          'Visit <a href="https://github.com/Niieux/docs/blob/main/theme-maker-guide.md" target="_blank" rel="noopener noreferrer">https://github.com/Niieux/docs/blob/main/theme-maker-guide.md</a> for an amazing guide on using the Theme maker.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Install now',
        href: 'https://iso.niieux.com',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Niieux&nbsp;.&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> Linux, Reimagined</span>
    </Fragment>

    <Fragment slot="subtitle">
      Install Niieux <br class="hidden md:inline" />
    </Fragment>
  </CallToAction>

